@{
    ViewBag.Title = "Acerca de";
}
<h2>Acerca de Nosotros</h2>

<p>Quickly Nails SPA es una tienda de servicios de manicure y pedicure especializada en diseños variados y coloridos y con las mejores especialistas que tu puedes encontrar.</p>
