@{ 
    ViewBag.Title = "Contacto";
}
<h2>Datos de contacto</h2>

<address>
    Quickly Nails SPA <br />
    Avenida Providencia # 2398 comuna de Providencia - Santiago de Chile<br />
    <abbr title="Telfono">P:</abbr>
    +56 9 8554 7132
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@example.com">quicklynails@gmail.com</a><br />    
</address>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3330.1361737651023!2d-70.60858468480149!3d-33.419693980782725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf69a982e701%3A0x29c2706f9cc0cee8!2sAv.+Providencia+2398%2C+Santiago%2C+Providencia%2C+Regi%C3%B3n+Metropolitana!5e0!3m2!1ses!2scl!4v1548513142092" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>