@{
    ViewBag.Title = "Manicure Land";
}

<div class="col-md-12">
    <br />
    <div class="col-md-9">
        <h1>Bienvenidos</h1>
    </div>
    <div class="col-md-3">
        <form class="form-group">
            <label class="col-lg-4">Usuario</label>
            <input class="col-lg-8 input-sm" placeholder="correo@algo.com" />
            <label class="col-lg-4">Clave</label>
            <input class="col-lg-8 input-sm" placeholder="******" />
            <label class="col-lg-12"> </label>
            <input class="col-lg-5 btn-primary btn-sm" id="btnIngresar" name="btnIngresar" runat="server" onserverclick="btnIngresarOnClick" type="button" value="Ingresar" />
            <label class="col-lg-2"> </label>
            <input class="col-lg-5 btn-info btn-sm" id="btnRegistrar" name="btnRegistrar" runat="server" onserverclick="btnRegistrarOnClick" type="button" value="Registrarse" />
        </form>
    </div>

</div>
