
@{
    ViewBag.Title = "Catalogo Servicio";
}

<h2>Catalogo Servicio</h2>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a href="javascript:void(0);" onclick="history.go(-1);"><input type="button" value="Volver" class="btn btn-success" /></a>
    </div>
</div>