
@{
    ViewBag.Title = "Catalogo Diseño";
}

<h2>Catalogo Diseno</h2>
<div>
    <input type="image" src="~/img/sitio/actualizando.png" />
</div>


<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" class="btn btn-success" value="Volver" onclick="@("window.location.href='" + @Url.Action("PanelAdmin", "Admin") + "'");" />
    </div>
</div>