@{
    ViewBag.Title = "Panel de Administracion";
}

<h2>Panel Cliente</h2>

@using (Html.BeginForm("Panel", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="col-lg-12">
        <div class="form-group col-md-6">
            <div class="col-md-6">
                <input type="submit" name="accion" value="Empleados" class="btn btn-primary col-sm-6" />
            </div>

            <div class="col-md-6">
                <input type="submit" name="accion" value="Servicios" class="btn btn-primary col-sm-6" />
            </div>

            <div class="col-md-6">
                <input type="submit" name="accion" value="Diseños" class="btn btn-primary col-sm-6" />
            </div>

            <div class="col-md-6">
                <input type="submit" name="accion" value="Turnos" class="btn btn-primary col-sm-6" />
            </div>

            <div class="col-md-6">
                <input type="submit" name="accion" value="Catalogo de Diseños" class="btn btn-primary col-sm-6" />
            </div>

            <div class="col-md-6">
                <input type="submit" name="accion" value="Catalogo de Servicios" class="btn btn-primary col-sm-6" />
            </div>

            <div class="col-md-6">
                <input type="submit" name="accion" value="Atenciones" class="btn btn-primary col-sm-6" />
            </div>

            <div class="col-md-6">
                <input type="submit" name="accion" value="Cerrar Sesión" class="btn btn-info col-sm-6" />
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}